html {
  background-color: black;
}

body {
  width: 100%;
  font-family: 'PTMono';
  display: grid;
}


@keyframes h1glow {
  0%    {opacity: 0;}
  10%   {opacity: 0;}
  10.1% {opacity: 1;}
  10.2% {opacity: 0;}
  20%   {opacity: 0;}
  20.1% {opacity: 1;}
  20.6% {opacity: 0;}
  30%   {opacity: 0;}
  30.1% {opacity: 1;}
  30.5% {opacity: 1;}
  30.6% {opacity: 0;}
  45%   {opacity: 0;}
  45.1% {opacity: 1;}
  50%   {opacity: 1;}
  55%   {opacity: 1;}
  55.1% {opacity: 0;}
  57%   {opacity: 0;}
  57.1% {opacity: 1;}
  60%   {opacity: 1;}
  60.1% {opacity: 0;}
  65%   {opacity: 0;}
  65.1% {opacity: 1;}
  75%   {opacity: 1;}
  75.1% {opacity: 0;}
  77%   {opacity: 0;}
  77.1% {opacity: 1;}
  85%   {opacity: 1;}
  85.1% {opacity: 0;}
  86%   {opacity: 0;}
  86.1% {opacity: 1;}
  100%  {opacity: 1;}
}

h1 {
  animation: h1glow 3s linear infinite;
}

.first {
  width: 94%;
  margin-top: 1%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.second {
  display: flex;
  flex-direction: column;
  width: 66%;
  justify-content: center;
}

.firstblock {
  border: 3px solid white;

  background-image: url(../images/img1.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: 3vh;
  color: white;
}

.firsttext {
  margin-left: 1%;
  margin-top: 20%;
}

.secondblock {
  width: 28%;
  height: 64%;
  border: 3px solid white;
}
 
.secondblock img {
  width: 99%;
}

.thirdblock {
  border: 3px solid white;
}

.thirdblock img{
  justify-self: center;
}