html {
  background-color: black;
}

::-webkit-scrollbar{
  display: none;
}

body {
  width: 100%;
}

main {
  width: 100%;
  font-family: 'PTMono';
  display: grid;
  grid-template-columns: 25vw 42vw 27vw;
  grid-template-rows: 21vw 15vw 17vw;
  margin: 5% 0 0 2.7%;
}

h1 {
  font-size: 3.5vw;
  color:  white;
  animation: h1glow 1.5s linear infinite;
  position: absolute;
  margin: -67% 0 0 33%;
}

section {
  border: 0.15vw solid white;
  position: relative;
  overflow: hidden;
  margin-left: 1.5%;
}

.firstsection {
  grid-column: span 2;
  margin: 3vw 0 0 3vw;
  color: white;
  font-size: 2.5vw;
  background-image: url(../images/img2.svg);
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 11% 0 0 1%;
}

.secondsection {
  grid-row: span 2;
  margin: 3vw 3vw 0 0;
  background-image: url(../images/texturebcg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.secondsection div {
  width: 100%;
  height: 100%;
  background-image: url(../images/texture2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 103%;
  animation: line 1s linear infinite;
}

.thirdsection {
  grid-column: span 2;
  margin: 0 0 0 3vw;
}

.thirdsection img {
  width: 150%;
  margin: -51% 0 0 -17%;
  animation: rotate 3s ease infinite;
}

@keyframes rotate {
  from {transform: rotate(0);}
  to {transform: rotate(360deg);}
}

.fourthsection {
  margin: 0 0 3vw 3vw;
  background-image: url(../images/eye.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 114%;
}

.fourthsection div {
  width: 100%;
  height: 100%;
  opacity: 0;
  background-image: url(../images/line.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 220%;
  animation: line 4s linear infinite;
}

.fifthsection {
  grid-column: span 2;
  margin: 0 3vw 3vw 0;
  color: white;
  font-size: 1.79vw;
  padding: 1% 0 0 1%;
}

